@tailwind base;
@tailwind components;
@tailwind utilities;

/* Visión Pro: Usamos @layer base para inyectar nuestros estilos
  globales. Esto es más limpio que editar el <body> en el HTML.
*/
@layer base {
  html {
    /* Esto hace que el scroll sea suave en toda la app */
    scroll-behavior: smooth;
    /* Forzamos el modo oscuro por defecto */
    color-scheme: dark;
  }
  body {
    /* Aplicamos nuestra paleta de colores base */
    @apply bg-brand-bg text-brand-text;
    /* Mejora el renderizado de la fuente */
    @apply antialiased;
  }
}