/*
 * VISIÓN UX/UI: Importamos la tipografía Poppins.
 * Esta fuente es moderna y profesional, lo que eleva el diseño de producto.
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    color-scheme: dark;
    /* Aplicamos la fuente Poppins a todo el HTML */
    font-family: 'Poppins', sans-serif;
  }
  body {
    /* Aplicamos nuestra paleta de colores base */
    @apply bg-brand-bg text-brand-text;
    /* Mejoramos el renderizado de la fuente */
    @apply antialiased;
  }
}